<h1>Informationを編集しよう！</h1>

<div class="container">
	<%= form_for(@information, url: information_path(@information)) do |f| %>
		<%= f.label :title %>
		<%= f.text_field :title %>
		<%= f.label :content %>
		<%= f.text_field :content %>

		<%= f.submit "Edit information", class: "btn btn-primary" %>
	<% end %>

	<div class="createbutton">
    <button type="button" name="button">
			<span><%= link_to "記事詳細に戻る", information_path(@information) %></span>
		</button>
	</div>
</div>
