<!DOCTYPE html>
<html lang="ja" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>INFORMATIONS</title>
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag     'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<link rel="stylesheet" href="./reset.css">
		<link rel="stylesheet" href="./style.css">

	</head>
	<body>
		<div class="container">
			<div class="con_information_all">
				<h2>INFORMATIONS</h2>
				<ul id="allData">
					<div class="information_all_box">
						<% @informations.each do |information| %>
						<li>
							<%= information.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
							<%= link_to information.title, information_path(information) %>
							<%= information.content.truncate(100) %>
							<div class="deletebutton">
								<button type="button" name="button">
									<%= link_to "記事をポイ", information, method: :delete %>
								</button>
							</div>
							<div class="editbutton">
								<button type="button" name="button">
									<%= link_to "記事をかきかえる", edit_information_path(information) %>
								</button>
							</div>
						</li>
						<% end %>

					</div>
				</ul>
				<div class="createbutton">
					<button type="button" name="button">
						<span><%= link_to "create new information", new_information_path %></span>
					</button>
				</div>
				<div class="returntop">
					<button type="button" name="button">
						<span><%= link_to "return to TOP", root_path %></span>
					</button>
				</div>
			</div>

			</div>

	</body>
</html>
