<h1>Informationをつくろう！</h1>

<div class="container">
	<%= form_for(@information, url: informations_path) do |f| %>
		<%= f.label :title %>
		<%= f.text_field :title %>
		<%= f.label :content %>
		<%= f.text_field :content %>

		<%= f.submit "Create new information", class: "btn btn-primary" %>
	<% end %>

	<div class="createbutton">
		<button type="button" name="button">
			<span><%= link_to "記事一覧に戻る", informations_path %></span>
		</button>
	</div>
</div>
