<div class="deletebutton">
	<button type="button" name="button">
		<%= link_to "記事をポイ", @information, method: :delete %>
	</button>
</div>

<div class="editbutton">
	<button type="button" name="button">
		<%= link_to "記事をかきかえる", edit_information_path(@information) %>
	</button>
</div>


<span><%= @information.created_at.strftime("%Y-%m-%d %H:%M:%S") %></span>
<h1><%= @information.title %></h1>
<span><%= @information.content %></span>

<div class="createbutton">
	<button type="button" name="button">
		<span><%= link_to "記事一覧に戻る", informations_path %></span>
	</button>
</div>
