<!DOCTYPE html>
<html>
  <head>
    <title>TestApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><%= link_to "TOP", root_path %></li>
          <li><%= link_to "INFORMATIONS", informations_path %></li>
          <li><a href="#vision">VISION</a></li>
          <li><a href="#message">MESSAGE</a></li>
          <li><a href="#service">SERVICE</a></li>
          <li><a href="#story">STORY</a></li>
          <li><a href="#profile">PROFILE</a></li>
        </ul>
      </nav>
    </header>
    <%= yield %>
    <footer>
      <p class="footer_copyright">Copyright(c) 20XX Sample Inc. All Rights Reserved. Design by <a href="http://f-tpl.com">http://f-tpl.com</a></p><!-- /.footer_copyright -->
    </footer>
  </body>
</html>
